.l-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  text-align: center;
  font-size: 30px;
}

.turn {
  text-align: center;
  font-size: 20px;
}

.squares {
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
}

.table {
  display: grid;
  justify-content: center;
  grid-gap: 0px;
  grid-template-columns: 50px 50px 50px; /*縦３つ*/
  grid-template-rows: 50px 50px 50px; /*横３つ*/
}

.turn {
  display: flex;
  padding: 8px 16px;
}

.turn-item {
  padding: 8px;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.active {
  border-bottom: 4px solid black;
}

.reset {
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  transition: all 0.5 ease;
  font-weight: bold;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.footer {
  text-align: center;
}

/* html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400
}

body {
  padding: 0;
  margin: 0;
  background: #fefefe
}

*,*:before,*:after {
  box-sizing: border-box
}

h1 {
  font-size: 1.2rem;
  text-align: center
}

.l-board {
  padding: 16px
}

.table {
  background: black;
  border: 2px solid #fefefe;
  margin: auto
}

.cell {
  background: #fefefe;
  height: 48px;
  width: 48px;
  cursor: pointer;
  text-align: center;
  font-size: 2rem
}

.cell.active {
  color: blue
}

.turn {
  display: flex;
  padding: 8px 16px
}

.turn-item {
  padding: 8px;
  font-size: 1.5rem;
  width: 100%;
  text-align: center
}

.turn-item.active {
  border-bottom: 4px solid black
}

.button {
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  transition: all 0.5 ease;
  font-weight: bold;
  width: 100%;
  text-align: center;
  cursor: pointer
}

.button:hover {
  transition: all 0.5 ease;
  background: black;
  color: white
}

.state-message {
  padding: 8px;
  text-align: center
} */
